p {
    color: black;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 1px;
}

html {
    font-size: 20px;
    font-family: 'Noto Serif TC', serif;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
}

body {
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}